<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<title>Fish Shop - *ADMIN*</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/home"><strong>FISH</strong> Shop</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1"></div>
		</div>
	</nav>
	<div class="container">

		<div class="row">

			<div class="col-md-3">

				<p>Only Administrators can see this page</p>
			</div>
		</div>
	</div>
</body>
</html>
