<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Your cart</title>
<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- <link href="/webjars/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" /> -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="/webjars/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
	<div th:insert="fragments/fragments :: header">HEADER</div>
	<div class="container">
		<div class="row">
			<div th:if="${cart.isEmpty()}" class="container">
				<div>
					<ol class="breadcrumb">
						<li>Your cart is empty.</li>
					</ol>
				</div>
			</div>

			<div th:if="${!cart.isEmpty()}" th:with="customerID=${userDTO.id}" class="container">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th style="width: 50%">Product</th>
							<th style="width: 10%">Price</th>
							<th style="width: 8%">Quantity</th>
							<th style="width: 22%" class="text-center">Subtotal</th>
							<th style="width: 5%"></th>
							<th style="width: 5%"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="productDTO : ${cart}" class="product-list"
							th:with="productID=${productDTO.key.id}, quantity=${productDTO.value}, price=${productDTO.key.price}, subtotal=${productDTO.key.subtotal}">
							<td>
								<div class="row">
									<div class="col-sm-2 hidden-xs">
										<img th:src="@{/photos/{imgName}(imgName=${productDTO.key.title+'.jpg'})}"
											alt="${productDTO.title}" class="img-responsive" />
									</div>
									<div class="col-sm-10">
										<h4 th:text="${productDTO.key.title}" class="nomargin">Product title</h4>
										<p th:text="${productDTO.key.description}">Fish description here.</p>
									</div>
								</div>
							</td>
							<!-- product price -->
							<td>
								<p th:id="price + ${productID}" th:product-price="${price}" th:value="${price}" th:text="${'$ ' + price}" >$ xxx</p>
							</td>
							<!-- quantity -->
							<td>
								<input th:id="qty + ${productID}" th:product-id="${productID}" th:value="${quantity}" type="number" min="1" class="form-control text-center">
							</td>
							<!-- subtotal -->
							<td class="total-relevant-td">
								<p th:id="subtotal + ${productID}" th:product-subtotal="${subtotal}" th:text="'$ ' + ${subtotal}" class="text-center">$ xxx</p>
							</td>
							<!-- delete product -->
							<td>
								<form th:action="@{/cart/{customerId}/deleteProduct?productId=(customerId=${customerID})} + ${productID}">
									<input type="hidden" th:value="${productDTO.key.id}" name="productId" id="productId" />
									<button type="submit" class="btn btn-danger btn-sm">
										<i class="fa fa-trash-o"></i>
									</button>
								</form>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 1.99</strong></td>
						</tr>
						<tr>
							<td>
								<a th:href="@{/index}" class="btn btn-warning">
									<i class="fa fa-angle-left"></i>Continue Shopping
								</a>
							</td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center">
								<strong th:id="total" th:total="${total}" th:text="'$ ' + ${total}">Total $$$</strong>
							</td>
							<td>
								<form>
									<a th:href="@{/checkout}" class="btn btn-success btn-block">Checkout
										<i class="fa fa-angle-right"></i>
									</a>
								</form>
							</td>
							
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</body>
<script>
$(function(){
	
	reloadCart();

	$(document).on('change', '[id^="qty"]',function(){	
		var productId = $(this).attr('product-id');
		var price = $('#price' + productId).attr('product-price');
		var subtotal = (price * $(this).val()).toFixed(1);
		$('#subtotal' + productId).attr('product-subtotal', subtotal).text(subtotal);		
		reloadCart();
	});
	
	function reloadCart(){
		var total = 0;
		$('.total-relevant-td').map(function(index,element){			
			(total += parseFloat($(this).children().attr('product-subtotal'))).toFixed(1);
			$('#total').val(total).text('$ ' + total);
		});
		
		populateCheckoutForm();
	}
	
	function populateCheckoutForm(){
		
		console.log('populating checkout form');
	}



});
</script>
</html>