<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Your cart</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/home"><strong>FISH</strong> Shop</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1"></div>
		</div>
	</nav>
	<div class="container"></div>
	<div class="row">
		<div class="col-md-9">
			<div>
				<ol class="breadcrumb">
					<li>Your cart</li>
				</ol>
			</div>
		</div>

	</div>
</body>
</html>