<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="eng">

<head>
	<meta charset="utf-8">

	<!-- CSRF 
		<meta name="_csrf" content="${_csrf.token}" />
		<meta name="_csrf_header" content="${_csrf.headerName}" />
	-->
	<title>Fish Shop</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="../javascripts/jquery/jquery-3.4.0.js"></script>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/home"><strong>FISH</strong> Shop</a>
			</div>
			<!--   <div sec:authorize="!isAuthenticated()" -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="cart">Cart</a></li>
					<li><a type="button" id="login" data-toggle="modal" class="btn">Login</a></li>
					<li><a th:href="@{/register}">Signup</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" placeholder="UNRESPONSIVE!" class="form-control">
					</div>
					&nbsp;
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<div id="homeView" class="container">
		<div class="row">
			<!-- Organized products, menu on the left -->
			<div class="col-md-3">
				<div th:if="${organizedProducts.fishProducts.size()>0}">
					<a href="#" class="list-group-item active">Fish</a>
					<ul class="list-group">
						<li th:inline="text" class="list-group-item">Freshwater <span
								class="label label-primary pull-right">[[${organizedProducts.numOfFreshWaterFish}]]</span>
						</li>
						<li th:inline="text" class="list-group-item">Saltwater <span
								class="label label-success pull-right">[[${organizedProducts.numOfSaltWaterFish}]]</span>
						</li>
						<li th:inline="text" class="list-group-item">Crabs<span
								class="label label-danger pull-right">[[${organizedProducts.numOfCrabs}]]</span>
						</li>
						<li th:inline="text" class="list-group-item">Pond <span
								class="label label-danger pull-right">[[${organizedProducts.numOfPondFish}]]</span>
						</li>
					</ul>
				</div>
				<div th:if="${organizedProducts.plantProducts.size()>0}">
					<a href="#" class="list-group-item active list-group-item-success">Plants
					</a>
					<ul class="list-group">
						<li th:inline="text" class="list-group-item">Freshwater <span
								class="label label-danger pull-right">[[${organizedProducts.numOfFreshWaterPlants}]]</span>
						</li>
						<li class="list-group-item">Pond <span
								class="label label-success pull-right">[[${organizedProducts.numOfPondPlants}]]</span>
						</li>
					</ul>
				</div>
				<div th:if="${organizedProducts.otherProducts.size()>0}">
					<a href="#" class="list-group-item active">Other </a>
					<ul class="list-group">
						<li th:inline="text" class="list-group-item">Tanks <span
								class="label label-warning pull-right">[[${organizedProducts.numOfTanks}]]</span>
						</li>
						<li th:inline="text" class="list-group-item">Food <span
								class="label label-success pull-right">[[${organizedProducts.numOfFoodItems}]]</span>
						</li>
						<li th:inline="text" class="list-group-item">Filters <span
								class="label label-success pull-right">[[${organizedProducts.numOfFilterItems}]]</span>
						</li>
						<li th:inline="text" class="list-group-item">CO2 <span
								class="label label-success pull-right">[[${organizedProducts.numOfCo2Items}]]</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<!-- Fish row begins -->
				<div>
					<ol class="breadcrumb">
						<li class="active">Home</li>
						<li class="active">Fish</li>
					</ol>
				</div>
				<div class="row">
					<div th:each="product : ${organizedProducts.fishProducts}"
						class="col-md-4 text-center col-sm-6 col-xs-6">
						<div class="thumbnail product-box" th:with="quantity = ${product.quantity}">
							<img th:src="@{/photos/{imgName}(imgName=${product.title+'.jpg'})}"
								alt="${product.title}" />
							<div class="caption">
								<h3>
									<a th:text="${product.title}" href="#">Product name</a>
								</h3>
								<p th:text="| ${product.price} € |">Price goes here</p>

								<input class="form-control" type="number" value="0" min="0" th:max="${quantity}"
									id="example-number-input"> <br>
								<p>
									<a href="#" class="btn btn-success" role="button">Add To
										Cart</a> <a href="#" class="btn btn-primary" role="button">See
										Details</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- pagination row -->
				<div th:with="pages=${maxFishes}" class="row">
					<ul class="pagination alg-right-pad">
						<li th:each="i : ${#numbers.sequence(1, pages)}" class="nav-item">
							<a th:href="@{/home}" th:text="${i}" class="nav-link"></a>
						</li>
					</ul>
				</div>
				<!-- Fish row ends here -->
				<!-- Plant row begins here -->
				<div>
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Plants</li>
					</ol>
				</div>
				<div class="row">
					<div th:each=" product : ${organizedProducts.plantProducts}"
						class="col-md-4 text-center col-sm-6 col-xs-6">
						<div class="thumbnail product-box"
							th:with="quantity = ${product.quantity}">
							<img
								th:src="@{/photos/{imgName}(imgName=${product.title+'.jpg'})}"
								alt="${product.title}" />
							<div class="caption">
								<h3>
									<a th:text="${product.title}">Product name here</a>
								</h3>
								<p th:text="| ${product.price} € |">Price goes here</p>
								<input class="form-control" type="number" value="0" min="0"
									th:max="${quantity}" id="example-number-input"> <br>
								<p>
									<a href="#" class="btn btn-success" role="button">Add To
										CCart</a> <a href="#" class="btn btn-primary" role="button">See
										Details</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- pagination row -->
				<div th:with="pages=${maxPlants}" class="row">
					<ul class="pagination alg-right-pad">
						<li th:each="i : ${#numbers.sequence(1, pages)}" class="nav-item">
							<a th:href="@{/home}" th:text="${i}" class="nav-link"></a>
						</li>
					</ul>
				</div>
				<!-- Plant row ends here -->
				<!-- Other products row start here -->
				<div>
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Other</li>
					</ol>
				</div>
				<div class="row">
					<div th:each=" product : ${organizedProducts.otherProducts}"
						th:with="quantity = ${product.quantity}"
						class="col-md-4 text-center col-sm-6 col-xs-6">
						<div class="thumbnail product-box">
							<img
								th:src="@{/photos/{imgName}(imgName=${product.title+'.jpg'})}"
								alt="${product.title}" />
							<div class="caption">
								<h3>
									<a th:text="${product.title}">Product name</a>
								</h3>
								<p th:text="| ${product.price} € |">Price goes here</p>
								<input class="form-control" type="number" value="0" min="0"
									th:max="${quantity}" id="example-number-input"> <br>
								<p>
									<a href="#" class="btn btn-success" role="button">Add To
										Cart</a> <a href="#" class="btn btn-primary" role="button">See
										Details</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- pagination row -->
				<div th:with="pages=${maxOther}" class="row">
					<ul class="pagination alg-right-pad">
						<li th:each="i : ${#numbers.sequence(1, pages)}" class="nav-item">
							<a th:href="@{/home}" th:text="${i}" class="nav-link"></a>
						</li>
					</ul>
				</div>
				<!-- Other products row ends here -->
			</div>
		</div>
	</div>


	<!-- LOGIN MODAL -->
	<div id="loginModal" class="modal fade" th:fragment="loginModalFragment">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">					
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title text-center">Login</h4>					
						
					<div th:if="${loginResponse.isAttemptedLogin()}">
						<p th:text="${loginResponse.getErrorMessage()}">Error message here.</p>
					</div>				
					
				</div>
				<div class="modal-body">
					<form id="loginForm" method="POST">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Username"
								required="required" id="username" name="">
						</div>
						<div class="form-group">
							<input type="password" class="form-control"
								placeholder="Password" required="required" id="password">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<i>This is unresponsive at this point ----></i> <a href="#">Forgot
						Password?</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {

			$('#login').on('click', function () {
				$('#loginModal').modal('toggle');

				$('#loginForm').submit(function (event) {

					var formData = {
						'username': $('#username').val(),
						'password': $('#password').val()
					};

					var loginUrl = '/login';

					$.ajax({
						type: 'POST',
						contentType: "application/json",
						data: JSON.stringify(formData),
						url: loginUrl,
						success: function (loginResponse) {
							console.log('success block');
							console.log('This is the payload: ');
							console.log('isValidated: ' + loginResponse.validated);
							console.log('isAttemptedLogin: ' + loginResponse.attemptedLogin);
							if (!loginResponse.validated) {
								console.log('User not in database!')
								console.log('Error message: ' + loginResponse.errorMessage);

								// new try
								$('.modal-header').html(loginResponse.errorMessage);
								$('#loginModal').modal('show');
							} else {
								console.log('ELSE')
							}

							$('#loginModal').modal('show');
						},
						error: function (payload) {
							console.log('error block');
							console.log('this is the URL: ' + loginUrl);
							console.log('this is the formData: ');
							console.log(formData);
							console.log(payload);
							alert('Something went wrong!');

						}
					});
					event.preventDefault();
				});
			});
		});

		// CSRF !!!
		// var token = $("meta[name='_csrf']").attr("content");
		// var header = $("meta[name='_csrf_header']").attr("content");

		// $(document).ajaxSend(function (e, xhr, options) {
		// 	xhr.setRequestHeader(header, token);
		// });
	</script>


</body>
</html>